#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-prod.xcconfig"
#include "Generated.xcconfig"
#include "Prod.xcconfig"
/// 환경설정
FLUTTER_TARGET = lib/core/config/env/prod.dart

/// 앱 설정
APP_NAME=Withu
PRODUCT_BUNDLE_IDENTIFIER=com.conner.withu
APP_BUNDLE_ID=com.conner.withu
FLAVOR=prod
